.JobCard {
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
	margin: 10px;
	padding: 10px;
	height: 170px;
}

.JobCard-link {
	color: rgb(50, 43, 43);
}

.JobCard-link:hover {
	color: rgb(50, 43, 43);
}

.JobCard h3 {
	margin-top: 0px;
}

.JobCard-info1,
.JobCard-info2 {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.JobCard-info1 h3 {
	margin-bottom: 0px;
}

.JobCard-info2 span {
	font-size: 0.9em;
}

.JobCard-btn-div {
	display: flex;
	justify-content: end;
}

.JobCard-btn-div button {
	background-color: rgb(250, 171, 171);
	width: 100px;
}

.JobCard-btn-div button:hover {
	background-color: rgb(245, 136, 136);
}

.disabled {
	background-color: lightgrey !important;
}

.disabled:hover {
	background-color: lightgrey !important;
	border-color: lightgrey !important;
	cursor: auto;
}
